<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Notes CRUD Client</title>

  <script src="app/public/js/jQuery-3.2.1.js"></script>

  <style>
    input[type='submit'], button, [aria-label]{
      cursor: pointer;
    }
    #spoiler{
      display: none;
    }


  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="style.css">

        <link rel="stylesheet" type="text/css" href="sticky.css">
        <link rel="stylesheet" type="text/css" href="app/views/sticky.css">


</head>
<body>






         <div class="box yellow-box">
           <h5 class="box red-box red-text"> taking notes, the writer records the essence of the information, <br>freeing their mind from having to recall everything</h5>
           <ul>
             <center>
           <li>
             <a href="#">
               <h2>Notes #1</h2>


<form action="javascript:void(0);" method="POST" onsubmit="addNote()">
  <input type="text" id="add-title" placeholder="New Note Title">
  <input type="text" id="add-body" placeholder="New Note Body">
  <input type="submit" value="Add">
</form>


=
<div id="spoiler" role="aria-hidden">
  <form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
    <input type="text" id="edit-title">
    <input type="text" id="edit-body">
    <input type="submit" value="Edit">
  </form>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Text</th>
  </tr>
    <tbody id="notes">
    </tbody>
</table>
</a>
</li>
</center>


<center>
<li>
<a href="#">
  <h2>Notes #2</h2>


<form action="javascript:void(0);" method="POST" onsubmit="addNote()">
<input type="text" id="add-title" placeholder="New Note Title">
<input type="text" id="add-body" placeholder="New Note Body">
<input type="submit" value="Add">
</form>


=
<div id="spoiler" role="aria-hidden">
<form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
<input type="text" id="edit-title">
<input type="text" id="edit-body">
<input type="submit" value="Edit">
</form>
</div>

<table>
<tr>
<th>ID</th>
<th>Title</th>
<th>Text</th>
</tr>
<tbody id="notes">
</tbody>
</table>
</a>
</li>
</center>
<center>
<li>
<a href="#">
  <h2>Title #3</h2>
  <p>Notes</p>

<form action="javascript:void(0);" method="POST" onsubmit="addNote()">
<input type="text" id="add-title" placeholder="New Note Title">
<input type="text" id="add-body" placeholder="New Note Body">
<input type="submit" value="Add">
</form>


=
<div id="spoiler" role="aria-hidden">
<form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
<input type="text" id="edit-title">
<input type="text" id="edit-body">
<input type="submit" value="Edit">
</form>
</div>

<table>
<tr>
<th>ID</th>
<th>Title</th>
<th>Text</th>
</tr>
<tbody id="notes">
</tbody>
</table>
</a>
</li>
</center>
<center>
<li>
<a href="#">
  <h2>Title #4</h2>
  <p>Notes</p>

<form action="javascript:void(0);" method="POST" onsubmit="addNote()">
<input type="text" id="add-title" placeholder="New Note Title">
<input type="text" id="add-body" placeholder="New Note Body">
<input type="submit" value="Add">
</form>



<div id="spoiler" role="aria-hidden">
<form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
<input type="text" id="edit-title">
<input type="text" id="edit-body">
<input type="submit" value="Edit">
</form>
</div>

<table>
<tr>
<th>ID</th>
<th>Title</th>
<th>Text</th>
</tr>
<tbody id="notes">
</tbody>
</table>
</a>
</li>
</center>
<center>
<li>
<a href="#">
  <h2>Title #5</h2>
  <p>Notes</p>

<form action="javascript:void(0);" method="POST" onsubmit="addNote()">
<input type="text" id="add-title" placeholder="New Note Title">
<input type="text" id="add-body" placeholder="New Note Body">
<input type="submit" value="Add">
</form>



<div id="spoiler" role="aria-hidden">
<form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
<input type="text" id="edit-title">
<input type="text" id="edit-body">
<input type="submit" value="Edit">
</form>
</div>

<table>
<tr>
<th>ID</th>
<th>Title</th>
<th>Text</th>
</tr>
<tbody id="notes">
</tbody>
</table>
</a>
</li>
</center>
<center>
<li>
<a href="#">
  <h2>Title #6</h2>
  <p>Notes</p>

<form action="javascript:void(0);" method="POST" onsubmit="addNote()">
<input type="text" id="add-title" placeholder="New Note Title">
<input type="text" id="add-body" placeholder="New Note Body">
<input type="submit" value="Add">
</form>



<div id="spoiler" role="aria-hidden">
<form action="javascript:void(0);" method="POST" onsubmit="saveEdit()">
<input type="text" id="edit-title">
<input type="text" id="edit-body">
<input type="submit" value="Edit">
</form>
</div>

<table>
<tr>
<th>ID</th>
<th>Title</th>
<th>Text</th>
</tr>
<tbody id="notes">
</tbody>
</table>
</a>
</li>
</center>

</ul>



<!-- <script src="app/public/js/script1.js"></script> -->
<script src="app/public/js/script2.js"></script>
<!-- JavaScript includes. -->
<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="assets/js/script.js"></script>

<!-- <script src="app/public/js/script3.js"></script> -->

</body>
</html>
