<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sticky_Notes</title>
    <link rel="stylesheet" href="sticky.css">
  </head>
  <body>



      <li>
        <a href="#">
          <h2>Title #2</h2>
          <p>Harmony</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Title #3</h2>
          <p>Rhythm</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Title #4</h2>
          <p>Dynamics</p>
        </a>
      </li>
      <li>
        <a href="#">
          <h2>Form</h2>
          <p>Text Content #5</p>
        </a>
      </li>
      <li>


    </ul>

</body>
</html>
